@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Montserrat', sans-serif;
}

html,
body {
    height: 100%;
    width: 100%;
    background-color: black !important;
}


.hero {
    background-image: url(../img/phone.jpg);
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    height: 100%;
    width: 100%;
}

@media (min-width: 586px) {
    .hero {
        background-position: center;
        background-image: url(../img/hero.jpg);
    }
}

.bg-darkest {
    background: rgba(0, 0, 0, 0.5);
    box-shadow: 0 8px 32px 0 rgba(0, 0, 0, 0.37);
    backdrop-filter: blur(10.5px);
    -webkit-backdrop-filter: blur(10.5px);
}

h1 {
    color: white !important;
}

.form-label {
    color: white !important;
}

.carde {
    width: var(--card-width);
    height: var(--card-height);
    position: relative;
    display: flex;
    justify-content: center;
    align-items: flex-end;

    perspective: 2500px;
}

@media (min-width: 1500px) {
    .carde {
        margin: 0 50px;
    }

}

.cover-image {
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.wrappere {
    transition: all 0.5s;
    position: absolute;
    width: 100%;
    z-index: -1;
}

.carde:hover .wrappere {
    transform: perspective(900px) translateY(-5%) rotateX(25deg) translateZ(0);
    box-shadow: 2px 35px 32px -8px rgba(0, 0, 0, 0.75);
    -webkit-box-shadow: 2px 35px 32px -8px rgba(0, 0, 0, 0.75);
    -moz-box-shadow: 2px 35px 32px -8px rgba(0, 0, 0, 0.75);
}

.wrappere::before,
.wrappere::after {
    content: "";
    opacity: 0;
    width: 100%;
    height: 80px;
    transition: all 0.5s;
    position: absolute;
    left: 0;
}

.wrappere::before {
    top: 0;
    height: 100%;
    background-image: linear-gradient(to top,
            transparent 46%,
            rgba(12, 13, 19, 0.5) 68%,
            rgba(12, 13, 19) 97%);
}

.wrappere::after {
    bottom: 0;
    opacity: 1;
    background-image: linear-gradient(to bottom,
            transparent 46%,
            rgba(12, 13, 19, 0.5) 68%,
            rgba(12, 13, 19) 97%);
}

.carde:hover .wrappere::before,
.wrappere::after {
    opacity: 1;
}

.carde:hover .wrappere::after {
    height: 120px;
}

.title {
    width: 100%;
    transition: transform 0.5s;
}

.carde:hover .title {
    transform: translate3d(0%, -50px, 100px);
}

.character {
    width: 100%;
    opacity: 0;
    transition: all 0.5s;
    position: absolute;
    z-index: -1;
}

.carde:hover .character {
    opacity: 1;
    transform: translate3d(0%, -30%, 100px);
}

@-webkit-keyframes marquee {
    0% {
        transform: translateX(0);
    }

    100% {
        transform: translateX(-100%);
    }
}

@keyframes marquee {
    0% {
        transform: translateX(0);
    }

    100% {
        transform: translateX(-100%);
    }
}

@media (max-width: 1024px) {
    @-webkit-keyframes marquee {
        0% {
            transform: translateX(0);
        }

        100% {
            transform: translateX(-125%);
        }
    }

    @keyframes marquee {
        0% {
            transform: translateX(0);
        }

        100% {
            transform: translateX(-125%);
        }
    }
}

@media (max-width: 768px) {
    @-webkit-keyframes marquee {
        0% {
            transform: translateX(0);
        }

        100% {
            transform: translateX(-166.65%);
        }
    }

    @keyframes marquee {
        0% {
            transform: translateX(0);
        }

        100% {
            transform: translateX(-166.65%);
        }
    }
}

#marquee {
    padding: 50px 0;
    width: 100%;
}

#marquee .view {
    overflow: hidden;
    width: 100%;
}

#marquee .pic-container {
    display: flex;
    -webkit-animation: marquee 60s infinite linear;
    animation: marquee 60s infinite linear;
}

#marquee .pic-container .pic {
    flex-basis: 20%;
    flex-shrink: 0;
    margin-left: 50px;
}

@media (max-width: 1024px) {
    #marquee .pic-container .pic {
        flex-basis: 25%;
    }
}

@media (max-width: 768px) {
    #marquee .pic-container .pic {
        flex-basis: 33.33%;
    }
}

#marquee img {
    width: 100%;
    vertical-align: middle;

}

.move {
    margin-left: 35px;
}

@media screen and (max-width:420px) {
    .move {
        margin-left: 20px;
    }

    body {
        overflow-x: hidden;
    }
}

.copyright-area {
    padding: 25px 0;
}

.copyright-text p {
    margin: 0;
    font-size: 20px;
    color: #878787;
}

.copyright-text p a {
    color: #FFFFFF;
}

.footer-menu li {
    display: inline-block;
    margin-left: 20px;
}

.footer-menu li:hover a {
    color: #ff5e14;
}

.footer-menu li a {
    font-size: 20px;
    color: #878787;
}

#app {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-flow: row;
    height: 42rem;
    width: 100%;
    position: relative;
}

#app .text {
    bottom: 0.5rem;
    opacity: 0.7;
    position: absolute;
}

#app .page {
    cursor: pointer;
    transform-style: preserve-3d;
    transform: perspective(180rem);
    transition: all 1200ms cubic-bezier(1, 0.85, 0.23, 1.52);
    height: 100%;
    width: 100%;
    background: #0b1c28;
    border-radius: 0.8rem;
    padding: 3.2rem;
    display: flex;
    justify-content: center;
    flex-flow: row;
    position: relative;
}

#app .page>* {
    position: absolute;
}

#app .page .front {
    transform: translate3d(0, 0, 2.25rem);
    height: fit-content;
    gap: 0.65rem;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-flow: column;
}

* #app .page .front .wrap {
    display: flex;
    align-items: center;
    justify-content: space-between;
    flex-flow: row;
    width: 100%;
}

#app .page .front .wrap span {
    gap: 0.2rem;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-flow: row;
}

#app .page .front .wrap span:first-child {
    animation: fadein 2s 1.1s cubic-bezier(0.5, 2, 0, 1) both;
}

#app .page .front .wrap span:first-child>* {
    color: #d9dff2;
}

#app .page .front .wrap span:last-child {
    animation: fadein 2s 1.3s cubic-bezier(0.5, 2, 0, 1) both;
}

#app .page .front .wrap span:last-child>* {
    color: #8c9fd9;
}

#app .page .front .wrap span i {
    font-size: 1.3rem;
}

#app .page .front .wrap span .ic {
    font-size: 1rem;
    letter-spacing: -1px;
}

#app .page .front .content {
    padding: 1rem 0;
    width: 16rem;
    gap: 1rem;
    display: flex;
    align-items: flex-start;
    justify-content: center;
    flex-flow: column;
}

#app .page .front .content h2 {
    font-size: clamp(1.2rem, 3vmin, 1.8rem);
    color: var(--cyan);
    animation: fadein 2s 700ms cubic-bezier(0.5, 2, 0, 1) both;
}

#app .page .front .content h5 {
    font-size: clamp(.7rem, 2vmin, .8rem);
    color: rgba(255, 255, 255, 0.5);
    animation: fadein 2s 900ms cubic-bezier(0.5, 2, 0, 1) both;
}

#app .page .front .image {
    animation: fadein 2s 500ms cubic-bezier(0.5, 2, 0, 1) both;
    height: 14rem;
    aspect-ratio: 1;
    border-radius: 0.8rem;
    overflow: hidden;
    position: relative;
    cursor: pointer;
}

#app .page .front .image:hover .overlay {
    z-index: 10;
    opacity: 1;
}

#app .page .front .image img {
    height: 100%;
    width: 100%;
    object-fit: cover;
}

#app .page .front .image .overlay {
    opacity: 0;
    transition: all 400ms ease-out;
    border-radius: 0.8rem;
    position: absolute;
    height: 15rem;
    width: 15rem;
    background: rgba(255, 255, 255, 0.2);
    backdrop-filter: blur(0.4rem);
    -webkit-backdrop-filter: blur(0.4rem);
    z-index: 0;
    top: 0;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-flow: row;
}

#app .page .front .image .overlay i {
    color: #c0c0c0;
    text-shadow: 0 0 0.5rem black;
    font-size: 2.5rem;
}

#app .page .back {
    transform: rotateY(180deg) translate3d(0, 0, 2.25rem);
    display: flex;
    align-items: center;
    justify-content: center;
    flex-flow: column;
    height: inherit;
    gap: 3rem;
    position: relative;
}

#app .page .back .contact {
    animation-delay: 900ms;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-flow: row;
    gap: 2rem;
}

#app .page .back .contact i {
    transition: all 400ms ease;
    font-size: 1.3rem;
}

#app .page .back .contact i:hover {
    color: #8c9fd9;
}

#app .page .back span {
    font-size: 1rem;
    animation-delay: 700ms;
    color: #8c9fd9;
}

#app .page .back span>* {
    float: right;
    margin-left: 0.5rem;
    font-size: 1rem;
    color: #d9dff2;
}

#app .page .back .profile {
    animation-delay: 500ms;
    box-shadow: black 0 0 1rem;
    border-radius: 50%;
    background-size: 100% 100%;
    background-repeat: no-repeat;
    height: 12rem;
    aspect-ratio: 1;
}

.csi {
    background-image: url("../img/council/csi.png");
}

.mozilla {
    background-image: url("../img/council/mozilla.png");
}

.codelabs {
    background-image: url("../img/council/codelabs.png");
}

.gdsc {
    background-image: url("../img/council/gdsc.png");
}

.gda {
    background-image: url("../img/council/gda.png");
}

.ieee {
    background-image: url("../img/council/ieee.jpg");
}

.acm {
    background-image: url("../img/council/acm.png");

}

.mavericks {
    background-image: url("../img/council/mavericks.jpeg");
}

.iiie {
    background-image: url("../img/council/iiie.jpg");
}

.wie {
    background-image: url("../img/council/wie.jpg");
}

.asme {
    background-image: url("../img/council/asme.png");
}

.ecell {
    background-image: url("../img/council/ecell.jpeg");
}

#app .page .back .anima {
    animation: fadein 2s cubic-bezier(0.5, 2, 0, 1);
}

#app .flip {
    transform: perspective(180rem) rotateY(180deg);
}

@keyframes fadein {
    from {
        transform: translateY(50%);
        clip-path: polygon(0 100%, 100% 100%, 100% 100%, 0% 100%);
    }

    to {
        transform: translateY(0);
        clip-path: polygon(0 0, 100% 0, 100% 100%, 0% 100%);
    }
}

.buttonpro {
    --btn-default-bg: black;
    --btn-padding: 15px 20px;
    --btn-hover-bg: green;
    --btn-transition: 0.3s;
    --btn-letter-spacing: 0.1rem;
    --btn-animation-duration: 2s;
    --btn-shadow-color: green;
    --btn-shadow: 0 2px 10px 0 var(--btn-shadow-color);
    --hover-btn-color: #7241ff;
    --default-btn-color: #fff;
    --font-size: 16px;
    --font-weight: 600;
    --font-family: Menlo, Roboto Mono, monospace;
    border-radius: 6em;
}

/* button settings 👆 */

.buttonpro {
    box-sizing: border-box;
    padding: var(--btn-padding);
    display: flex;
    align-items: center;
    justify-content: center;
    color: var(--default-btn-color);
    font: var(--font-weight) var(--font-size) var(--font-family);
    background: var(--btn-default-bg);
    cursor: pointer;
    transition: var(--btn-transition);
    overflow: hidden;
    box-shadow: var(--btn-shadow);
    border-radius: 6em;
    border: 2px solid #2a2b3a;
}

.buttonpro span {
    letter-spacing: var(--btn-letter-spacing);
    transition: var(--btn-transition);
    color: rgb(9, 255, 0);
    box-sizing: border-box;
    position: relative;
    background: inherit;
}

.buttonpro span::before {
    box-sizing: border-box;
    position: absolute;
    content: "";
    color: rgb(9, 255, 0);
    background: inherit;
}

.buttonpro:focus {
    scale: 1.09;
}

.buttonpro:hover,
.buttonpro:focus {
    background: var(--btn-default-bg);
    box-shadow: 0px 0px 10px 0px rgba(119, 68, 255, 0.7);
    border: 2px solid rgb(9, 255, 0);
    color: rgb(9, 255, 0);
}

.buttonpro:hover span,
.buttonpro:focus span {
    color: rgb(9, 255, 0);
}

.buttonpro:hover span::before,
.buttonpro:focus span::before {
    animation: chitchat linear both var(--btn-animation-duration);
    color: rgb(9, 255, 0);
}

@keyframes chitchat {
    0% {
        content: "#";
    }

    5% {
        content: ".";
    }

    10% {
        content: "^{";
    }

    15% {
        content: "-!";
    }

    20% {
        content: "#$_";
    }

    25% {
        content: "№:0";
    }

    30% {
        content: "#{+.";
    }

    35% {
        content: "@}-?";
    }

    40% {
        content: "?{4@%";
    }

    45% {
        content: "=.,^!";
    }

    50% {
        content: "?2@%";
    }

    55% {
        content: "\;1}]";
    }

    60% {
        content: "?{%:%";
        right: 0;
    }

    65% {
        content: "|{f[4";
        right: 0;
    }

    70% {
        content: "{4%0%";
        right: 0;
    }

    75% {
        content: "'1_0<";
        right: 0;
    }

    80% {
        content: "{0%";
        right: 0;
    }

    85% {
        content: "]>'";
        right: 0;
    }

    90% {
        content: "4";
        right: 0;
    }

    95% {
        content: "2";
        right: 0;
    }

    100% {
        content: "";
        right: 0;
    }
}

.nft-card-title {
    font-size: 1.2rem;
    font-weight: 800;
    margin: 0 !important;
}

.nft-card-text {
    font-size: 0.9rem;
    font-weight: 500;
    margin: 0 !important;
}

.nft-card-click {
    font-size: 1.7rem;
    font-weight: 900;
    margin: 0 !important;
}